body{
    background-color: rgb(0, 255, 242);
    min-width: fit-content;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: 
    space-between;
}
.container{
    background-color: rgb(255, 255, 255);
    text-align: center;
}
.nav__logo{
    margin-left: 2%;
    padding-bottom:1fr;
}

.nav__list{
    list-style: none;
    display: flex;
    column-gap: 20px;
}
.nav__link{
    display: inline-block;
    text-decoration: none;
    color: black;
    position: relative;
}
.nav__link::after{
    content: '';
    position: absolute;
    left: 0;bottom: 0;
    width: 100%;height: 2px;
    background-color: rgb(105, 3, 3);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .5s;
}
.nav__link:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}

button[id^="option"]{
    color: white;
    background-color: black;
}
button[id^="option_"]{
    border-color: white;
}
button[id^="option_first"]{
    border-color: gold;
}
button[id^="option_second"]{
    border-color: silver;
}
button[id^="option_third"]{
    border-color: rgb(165, 87, 42);
}
button[id^="option_fourth"]{
    border-color: blue;
}
button[id^="option_fifth"]{
    border-color: red;
}
button[id^="option_sixth"]{
    border-color: green;
}
button[id^="option_seventh"]{
    border-color: violet;
}
button[id^="option_eighth"]{
    border-color: magenta;
}
button[id^="option_ninth"]{
    border-color: black;
}
