*{
    margin: 0;
    padding: 0;
  }
  button{
    width: 40px;
    height: 20px;
  }
  header{
    font-family: Helvetica;
    width: 480px;
    margin: 0 auto;
  }
  ul{
    list-style: none;
  }
  #mini_wrapper{
    text-align: center;
    background-color: rgb(0, 255, 221);
  }
  div[id^="wrapper_audio"],div[id^="wrapper_video"]{
    border:rgb(255, 0, 0) solid 2px;
    height:fit-content; width: 343px;
    min-height: 150px;
    text-align: center;
  }
  div[id^="wrapper_visual"]{
    border:rgb(255, 0, 0) solid 2px;
    height:fit-content; width: 690px;
    min-height: 150px;
    text-align: center;
  }
  input[class^=input_online]{
    width: 500px;
    padding-top: 0.5vh;
  }
  div[id^="file_table"],div[id^="online_table"]{
    width: 700px;background-color: #fff;
    text-align:center;color:black;
    padding: 1vh; margin: auto;
    border: 2px solid #000;
    display: none;
  }
  span[id^="online_option"]{
    display: none;
  }
  
  #wrapper_file,#wrapper_file0,#wrapper_file1,#wrapper_file2{
    background-color: beige;
    padding: 1%;
    border: red 5px solid;
    height: 100px;
    width: fit-content;
    text-align: left;
    margin-left:3vmin;
  }
  #menu li>button{
    background-color: grey;
    color: white;
    padding: 10px;
    display: block;
    text-decoration: none;
    min-width: 100px;
  }
  #menu li>button:hover{
    color: #000;
    background-color: #eaeaea;
  }
  #menu>li{
    float: left;
    text-align:center
  }
  #menu>li>ul{
    display: none;
  }
  #menu>li:hover>ul {
    display:block;
  }
.input_file{
  padding-top: 0.5vh;width: 105px;
}

img[id^="status"]{
  margin-top: 1vh;
}

.output{
  text-align: left; background-color: beige; margin: 1vh;
}
.encabezado{
  width: fit-content;text-align: left; margin-left: 1vh;
}
#scenary_title{
  padding-right: 2%;
}
input[id^=places]{
  margin-left: 40%;
}